spring:
  cloud:
    config:
      server:
        git:
          uri: https://gitee.com/laiyy0728/config-repo.git
          search-paths: config-simple
    bus:
      trace:
        enabled: true # \u662F\u5426\u542F\u7528bus\u8FFD\u8E2A
  application:
    name: spring-cloud-config-bus-server
  rabbitmq: # rabbit mq \u914D\u7F6E
    host: 192.168.67.133
    port: 5672
    username: guest
    password: guest
server:
  port: 9090
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always